.contenedor{
    margin: auto;
    width: 380px;
    margin-top: 300px;
    text-align: center;
}

.titulo{
    margin-bottom: 20px;

}

.opciones p{
    background: black;
    display: initial;
    padding: 12px;
    color: #ffffff;
    border-radius: 2px;
    font-weight: bold;
 
}

p.p1{
    position: absolute;
    top: 400px;
    left: 50px;
    width: 100px;
}

p.p1:hover{
    background: gray;
    cursor: pointer;
}

p.p2{
    position: absolute;
    top: 400px;
    left: 220px;
    width: 100px;
}
p.p2:hover{
    background: gray;
    cursor: pointer;
}
#si{
    background: #515050;
    position: absolute;
    top: 122px;
    width: 370px;
    color: #ffffff;
    padding: 5px;
    display: none;
}